@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    
    <ol>
        <li>
            <a href="https://localhost:44335/Admin/Book/Create">Create Books</a>
        </li> 
       
        <li>
            <a href="https://localhost:44335/Admin/Book">View Books</a>s
        </li>  
        <li>
            <a href="https://localhost:44335/Admin/Author/Create">Create Authors</a>
        </li>
        <li>
            <a href="https://localhost:44335/Admin/Author">View Authors</a>
        </li>

    </ol>
    


</div>
